{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Welcome!</title>
</head>

<body>

    <header>
        <nav class="navbar">

            <!-- LOGO -->
            <div class="logo">
                <a href="/"><img src="{% static 'img/logo.png' %}" alt="Site logo"></a>
            </div>

            <!-- DESKTOP MENU (MEGA MENU) -->
            <ul class="mega-menu">

                <li class="menu-item">
                    <a href="#">Recipes</a>
                    <div class="dropdown">
                        <div class="dropdown-column">
                            <h4>Desserts</h4>
                            <a href="#">Cakes</a>
                            <a href="#">Tarts</a>
                        </div>
                        <div class="dropdown-column">
                            <h4>Main Dishes</h4>
                            <a href="#">Salad</a>
                            <a href="#">Pasta</a>
                            <a href="#">Soup</a>
                            <a href="#">1-Pan</a>
                        </div>
                        <div class="dropdown-column">
                            <h4>International</h4>
                            <a href="#">Brazilian</a>
                            <a href="#">Japanese</a>
                            <a href="#">Chinese</a>
                            <a href="#">Italian</a>
                            <a href="#">Eastern Europe</a>
                            <a href="#">Middle Eastern</a>
                        </div>
                    </div>
                </li>

                <li class="menu-item">
                    <a href="#">Guides</a>
                    <div class="dropdown">
                        <div class="dropdown-column">
                            <a href="#">Cooking Basics</a>
                            <a href="#">Food Hygiene</a>
                            <a href="#">Food Preservation</a>
                            <a href="#">Meal Prep</a>
                        </div>
                        </div>
                </li>

                <li class="menu-item">
                    <a href="#">News</a>
                    <div class="dropdown">
                        <div class="dropdown-column">
                            <a href="#">Food Production</a>
                            <a href="#">Trends</a>
                            <a href="#">Events</a>
                        </div>
                    </div>
                </li>

                <li class="menu-item">
                    <a href="#">Data Analysis</a>
                    <div class="dropdown">
                        <div class="dropdown-column">
                            <a href="#">Website Data</a>
                            <a href="#">External Data</a>
                        </div>
                    </div>
                </li>

            </ul>

            <!-- SEARCH -->
            <div class="search">
                <input type="text" placeholder="Search">
                <a href="/"><img id="icon-search" src="{% static 'img/search.png' %}" alt="Search icon"></a>
            </div>

            <!-- LOGIN -->
            <div class="login-desktop">
                <a href="/"><img src="{% static 'img/login.png' %}" alt="Login icon">Login</a>
            </div>
            
            <!-- HAMBURGUER MENU BUTTON -->
            <button class="hamburger">
                <img id="icon-hamburger" aria-label="Open menu" src="{% static 'img/menu.png' %}" alt="Hamburger icon">
            </button>

        </nav>
    </header>


    <!-- MOBILE MENU (ACCORDION) -->

    <div class="accordion-menu">
    
        <div class="accordion-top">

            <div class="login-mobile">
                <a href="/"><img src="{% static 'img/login.png' %}" alt="Login icon">Login</a>
            </div>

            <button class="close">
                <img id="icon-close" src="{% static 'img/close.png' %}" alt="Close icon">
            </button>

        </div>

        <ul>
            
            <li>
                <button class="submenu-toggle">Recipes</button>
                <ul class="submenu-items">
                    <li><a href="#">Desserts</a></li>
                    <li><a href="#">Main Dishes</a></li>
                    <li><a href="#">International</a></li>
                </ul>
            </li>

            <li>
                <button class="submenu-toggle">Guides</button>
                <ul class="submenu-items">
                    <li><a href="#">Cooking Basics</a></li>
                    <li><a href="#">Food Hygiene</a></li>
                    <li><a href="#">Food Preservation</a></li>
                    <li><a href="#">Meal Prep</a></li>
                </ul>
            </li>

            <li>
                <button class="submenu-toggle">News</button>
                <ul class="submenu-items">
                    <li><a href="#">Food Production</a></li>
                    <li><a href="#">Trends</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </li>

            <li>
                <button class="submenu-toggle">Data Analysis</button>
                <ul class="submenu-items">
                    <li><a href="#">Website Data</a></li>
                    <li><a href="#">External Data</a></li>
                </ul>
            </li>

        </ul>

    </div>

    <script src="{% static 'js/menu.js' %}"></script>

</body>

</html>